/* Write your CSS here */
.bg-container {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
}
.primeVideo-image {
  height: 35vh;
  width: 100vw;
}
.body-container {
  height: 65vh;
  width: 100vw;

  background-color: black;
  background-size: cover;
  padding-left: 20px;
  padding-right: 20px;
}
.typeOfMovie-title {
  color: white;
  font-size: 30px;
  padding-left: 120px;
}
